<div class="d-flex">
  <!-- Sidebar -->
  <nav id="sidebar" class="">
    <div class="sidebar-header p-3">
      <img src="/images/Logo DRT.jpg" alt="Logo" class="logo-img mb-2">
      <h4>Daily Routing Tracker</h4>
    </div>
    <ul class="nav flex-column">

      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#activityMenu" role="button">
          Activity Tracker
        </a>
        <ul class="collapse list-unstyled ps-3" id="activityMenu">
          <li><a class="nav-link" href="http://localhost:3000/activity">Activity Log</a></li>
          <li><a class="nav-link" href="http://localhost:3000/updateActivity">Activity Update</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#expenseMenu" role="button">
          Expense Tracker
        </a>
        <ul class="collapse list-unstyled ps-3" id="expenseMenu">
          <li><a class="nav-link" href="/expense/sub1">Sub 1</a></li>
          <li><a class="nav-link" href="/expense/sub2">Sub 2</a></li>
          <li><a class="nav-link" href="/expense/sub3">Sub 3</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#dashboardMenu" role="button">
          Dashboard
        </a>
        <ul class="collapse list-unstyled ps-3" id="dashboardMenu">
          <li><a class="nav-link" href="http://localhost:3000/activityDashboard">Activity Dashboard</a></li>
          <li><a class="nav-link" href="/dashboard/expense">Expense Dashboard</a></li>
        </ul>
      </li>

      <li class="nav-item mt-3">
        <span class="nav-link">Hello!! {{user.userName}}</span>
        <a href="/logout" class="btn btn-sm btn-outline-light mt-2">Logout</a>
      </li>
    </ul>
  </nav>


<div class="update-activity-container">
    <h2>Update Activity</h2>
    <form action="/updateActivity/{{activity._id}}" method="POST" class="update-form">
        <div class="form-group">
            <label>Activity Name:
                <input type="text" name="activityName" value="{{activity.activityName}}" required>
            </label>
        </div>

        <div class="form-group">
            <label>Description:
                <textarea name="activityDescription" required>{{activity.activityDescription}}</textarea>
            </label>
        </div>

        <div class="form-group">
            <label>Planned Date:
                <input type="date" name="ActivityPlannedDate" value="{{activity.ActivityPlannedDateFormatted}}" required>
            </label>
        </div>

        <div class="form-group">
            <label>Start Time:
                <input type="time" name="ActivityStartTime" value="{{activity.ActivityStartTime}}" required>
            </label>
        </div>

        <div class="form-group">
            <label>End Time:
                <input type="time" name="ActivityEndTime" value="{{activity.ActivityEndTime}}" required>
            </label>
        </div>

        <div class="form-group">
            <label>Status:
                <input type="text" class="readonly-field" name="activityStatus" value="{{activity.activityStatus}}" readonly>
            </label>
        </div>

        <div class="form-group">
            <label>Category:
                <input type="text" class="readonly-field" name="activityCatergory" value="{{activity.activityCatergory}}" readonly>
            </label>
        </div>

        <div class="form-group">
            <label>Type:
                <input type="text" class="readonly-field" name="activityType" value="{{activity.activityType}}" readonly>
            </label>
        </div>

        <div class="form-group">
            <label>Priority:
                <input type="text" class="readonly-field" name="activityPriority" value="{{activity.activityPriority}}" readonly>
            </label>
        </div>

        <div class="form-actions">
            <button type="submit" class="btn-update">Update Activity</button>
            <a href="/activity" class="btn-cancel">Cancel</a>
        </div>
    </form>
</div>
