<div class="d-flex">
  <!-- Sidebar -->
  <nav id="sidebar" class="">
    <div class="sidebar-header p-3">
      <img src="/images/Logo DRT.jpg" alt="Logo" class="logo-img mb-2">
      <h4>Daily Routing Tracker</h4>
    </div>
    <ul class="nav flex-column">

      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#activityMenu" role="button">
          Activity Tracker
        </a>
        <ul class="collapse list-unstyled ps-3" id="activityMenu">
          <li><a class="nav-link" href="http://localhost:3000/activity">Activity Log</a></li>
          <li><a class="nav-link" href="http://localhost:3000/updateActivity">Activity Update</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#expenseMenu" role="button">
          Expense Tracker
        </a>
        <ul class="collapse list-unstyled ps-3" id="expenseMenu">
          <li><a class="nav-link" href="/expense/sub1">Sub 1</a></li>
          <li><a class="nav-link" href="/expense/sub2">Sub 2</a></li>
          <li><a class="nav-link" href="/expense/sub3">Sub 3</a></li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#dashboardMenu" role="button">
          Dashboard
        </a>
        <ul class="collapse list-unstyled ps-3" id="dashboardMenu">
          <li><a class="nav-link" href="http://localhost:3000/activityDashboard">Activity Dashboard</a></li>
          <li><a class="nav-link" href="/dashboard/expense">Expense Dashboard</a></li>
        </ul>
      </li>

      <li class="nav-item mt-3">
        <span class="nav-link">Hello!! {{user.userName}}</span>
        <a href="/logout" class="btn btn-sm btn-outline-light mt-2">Logout</a>
      </li>

    </ul>
  </nav>

<div class="container-viewActivity">
  <h1 style="text-align: center;">{{title}}</h1>
  <h2>All Activities</h2>
  <div class="table-container">
  <table class="activity-table" border="1" cellpadding="10">
            <thead>
            <tr>
                <th style="width: 17%;">Activity Name</th>
                <th style="width: 17%;">Description</th>
                <th style="width: 12%;">Planned Date</th>
                <th style="width: 8%;">Start Time</th>
                <th style="width: 8%;">End Time</th>
                <th style="width: 10%;">Status</th>
                <th style="width: 10%;">Category</th>
                <th style="width: 10%;">Type</th>
                <th style="width: 8%;">Priority</th>
                <th style="width: 15%;">Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each activities}}
            <tr>
                <td style="width: 17%;">{{this.activityName}}</td>
                <td style="width: 14%;">{{this.activityDescription}}</td>
                <td style="width: 10%;">{{this.ActivityPlannedDateFormatted}}</td>
                <td style="width: 8%;">{{this.ActivityStartTime}}</td>
                <td style="width: 8%;">{{this.ActivityEndTime}}</td>
                <td style="width: 10%;">{{this.activityStatus}}</td>
                <td style="width: 10%;">{{this.activityCatergory}}</td>
                <td style="width: 8%;">{{this.activityType}}</td>
                <td style="width: 15%;">{{this.activityPriority}}</td>
                <td>
                <div class="action-buttons">
                    <form action="/deleteActivity/{{this._id}}" method="post">
                        <button type="submit" class="delete" onclick="return confirm('Are you sure?')">Delete</button>
                    </form>
                    <form action="/updateActivity/{{this._id}}" method="get">
                        <button type="submit" class="update">Update</button>
                    </form>
                </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>  
    </div>
    </div>
</div>
</div>
